<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./images/Rgrapes.png">
    <title>project_BeforeMedi</title>
<!--
http://www.templatemo.com/tm-484-ocean
-->

    <!-- load stylesheets -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"><!-- Google web font "Open Sans", https://www.google.com/fonts/specimen/Open+Sans -->
    <link rel="stylesheet" href="./stylesheets/font-awesome-4.5.0/css/font-awesome.min.css"> <!-- Font Awesome, https://fortawesome.github.io/Font-Awesome/ -->
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">                       <!-- Bootstrap style, http://v4-alpha.getbootstrap.com/ -->
    <link rel="stylesheet" href="./stylesheets/templatemo-style.css">                    <!-- Templatemo style -->
    <link rel="stylesheet" href="./stylesheets/semantic.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
          <![endif]-->
</head>

<body>

  <header>
      <nav>
          <div class="ui borderless main menu freemed-header-wrap">
              <div class="ui container">
                  <a href="/" class="header item logo-wrap">
                      <img class="header-logo-img" src="./images/Rgrapes.png">
                  </a>
                  <a href="/prediagnosis" class="item">Prediagnosis</a>
                  <a href="/dashboard" class="item">Chart</a>
                  <!--a href="/prediagnosis" class="item">C</a>
                  <a href="/originalDiagnosis" class="item">D</a>
                  <a href="/pharmacy" class="item">E</a>
                  <a href="/management" class="item"></a>
                  <a href="/receipt" class="ui right item"></a-->

              </div>
      </nav>
  </header>

  <section class="ui container" style="margin-top:55px">
      <div class="ui grid">
          <div class="left floated six wide column" style="margin-left:.1%">
              <h1>작성내용</h1>
          </div>


          <div>
              <!--button id="preDiagonosisWaitingList" class="huge negative ui button">버튼1(red)</button-->
          </div>
      </div>

      <div class="ui clearing divider"></div>

      <div class="ui form container">
          <!--button id="getPastCC" class="ui primary button" style="float: right;" disabled>버튼2(blue)</button-->
          <h3 class="ui dividing header">소제목</h3>

          <form id="chartForm" method="post" action="/prediagnosis">
              <div class="two fields">
                  <div class="field">
                      <label>CHART ID</label>
                      <input type="text" id="id" name="id" style="border-color: #fc0a0e; background: #fcf4f1" disabled>
                  </div>

                  <div class="field">
                      <label>USER ID</label>
                      <input type="text" id="uid" name="uid" style="border-color: #fc0a0e; background: #fcf4f1">
                  </div>
              </div>


              <div class="two fields">

                  <div class="field">
                      <label>BP <scan style="font-size : 10px;">(Blood Pressure , 혈압)</scan></label>
                      <div class="two fields">
                          <div class="field">
                              <input type="number" placeholder="수축기" id="systoleBloodPressure" name="systoleBloodPressure">
                          </div>

                          <div class="field">
                              <input type="number" placeholder="이완기" id="diastoleBloodPressure" name="diastoleBloodPressure">
                          </div>
                      </div>
                  </div>
                  <div class="field">
                      <label>bloodGlucose <scan style="font-size : 10px;">(혈당)</scan></label>
                      <input type="number" id="bloodGlucose", name="bloodGlucose">
                  </div>

              </div>


              <div class="two fields">
                  <div class="field">
                      <label>pregnant <scan style="font-size : 10px;">임신여부</scan></label>
                      <input type="checkbox" id="pregnant", name="pregnant">
                  </div>

                  <div class="field">
                      <label>takemedicine <scan style="font-size : 10px;">약복용여부</scan></label>
                      <input type="checkbox" id="takemedicine", name="takemedicine">
                  </div>
                  </div>
              </div>
              <button type="submit" class="btn">저장</button>
          </form>



      </div>

      <div class="ui grid" style="margin-top: 1%">
          <div class="left floated six wide column" style="margin-left:.1%"></div>

          <div>
            <a href="/dashboard" class="huge negative send ui button">차트</a>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <p class="text-xs-center tm-copyright-text">Copyright &copy; project_BeforeMedi</p>
          </div>
      </div>

  </section>





  <script src="./javascripts/jquery-1.11.3.min.js"></script>             <!-- jQuery, https://jquery.com/download/ -->
  <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap, http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h -->
  <script src="./javascripts/bootstrap.min.js"></script>                 <!-- Bootstrap, http://v4-alpha.getbootstrap.com/ -->
  <script src="./javascripts/jquery.touchSwipe.min.js"></script>         <!-- http://labs.rampinteractive.co.uk/touchSwipe/demos/ -->

  </body>

  </html>
